.blog {

  a {
    text-decoration: none;
    display: block;
  }

  .blog-menu {
    background: $secondary_color;
    margin-bottom: 82px;

    a {
      color: white;
      padding: 14px 0;
    }

    .wrap {
      display: flex;
      justify-content: space-between;
    }
    ul {
      display: flex;

      h3 {
        margin-right: 48px;
        font-size: 20px;
      }
    }

    
  }

  .blog-content {
    img {      
      width: 56%;
      object-fit: cover;
    }

    h3 {
      color: $secondary_color;
      font-size: 32px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      color: black;
    }

    .more {
      color: $secondary_color;
      font-size: 36px;
      margin-top: 20px;
      align-self: flex-end;
      display: block;
      text-align: right;
    }

    a {
      display: flex;
      margin-bottom: 60px;
    }

    .blog-content-text {
      width: 42%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 30px;
    }

    .blog-content-text-date {
      display: flex;
      justify-content: space-between;
      color: black;
      margin-top: 10px;
      margin-bottom: 24px;
    }
  }

  .blog-page {
    display: flex;
    justify-content: center;
    ul {
      text-align: center;
      display: flex;
      margin-top: 100px;
      margin-bottom: 156px;
      
      li {
        font-size: 19px;
        padding: 10px 14px;
        border: 1px solid #555555;
        &:nth-child(3) {
          background-color: black;
          color: white;
        }        
      }
    }
  }

  @media (max-width:992px) {
   .blog-content {     
     h3 {
       font-size: 20px;
     }
     h4 {
       font-size: 16px;
     }
     h5 {
       font-size: 14px;
     }

      img {      
        width: 45%;
      }

      .blog-content-text {
       width: 53%;
      }

      p {
        font-size: 14px;
        line-height: 21px;
      }
      .blog-content-text-date {
        margin-top: 9;
        margin-bottom: 16px;
      }
      .more {
        display: inline;
        font-size: 14px;
      }
    }
  }
     
  @media (max-width:576px) { 
    .blog-menu {
      display: none;
    }
    .blog-content {
      a {
        margin-bottom: 26px;
      }     
      ul {
        margin-top: 24px;
        li a {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
      }
        img {      
        width: 100%;
      }

      .blog-content-text {
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
        h3 {
          font-size: 16px;
        }
        h4 {
          font-size: 14px;
        }
        p {
          display: none;
        }
        .blog-content-text-date {
          margin-top: 5px;
          margin-bottom: 0;
        }

      }

      .blog-page {
        ul {
          margin-top: 14px;
          margin-bottom: 56px;
        }
      }

    }
  

  }

}

