
*,*:before, *:after {	
  box-sizing: border-box;
}	
  
img {	
  max-width: 100%;	
  height: auto;	
}	


.roboto-regular {
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;  
  font-weight: 500;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;  
  font-weight: 700;
}

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;  
  font-style: italic;
  font-weight: 700;
}


.noto-regular {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.noto-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

/* pc */
.wrap {  
  //max-width: 1170px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}



.header {  
  background: $primary_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 88px;
  font-size: 20px;

  .logo {
    margin: 30px 0;
  }

  .menu a{
    text-decoration: none;
    color: white;
  }

  h1 {    
    a {
      background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png");
      width: 80px;
      height: 49px;
      display: block;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      float: left;
    }
  }

  ul {
    display: flex;
    list-style-type: none;  
  }

  li {
    //margin-right: 20px;
    margin-right: 64px;
    display: block;

    a {
      padding: 10px 0;
    }
  }

  li:last-child {
     margin-right: 0px;
  }
}


.content {
  .banner {
    //background: url("https://hexschool.github.io/webLayoutTraining1st/week3/qa.png") no-repeat center;
    // max-width: 1920px;

    h2 {
      font-size: 64px;
    }

    h3 {
      font-size: 36px;
    }
    
    .wrap {
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }

   
  .info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    img {
      margin-left: 24px;
    }
  }
}


.footer {
  background: $primary_color;
  color: white;
  font-size: 16px;

  .icon {
    width: 48px;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
  }

  a:hover {
    color: hsl(0, 0%, 83%);
  }

  .footer-bar{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    border-bottom: 1px solid white;

    .footer-bar-menu > ul{
      display: flex;
      margin-bottom: 30px;
    }

    .footer-icon > ul {
      display: flex;
    }

    li {
      margin-right: 48px;      
    }

    li:last-child {
      margin-right: 0;
    }

    a{
      margin-right: 32px;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .footer-icon {
    display: flex;   
  }

  .footer-line-block {
    padding-bottom: 20px;
   
    ul {
      font-size: 36px;

      li {
        //margin-top: 32px;
        margin-top: 10px;
      }
      img {
        margin-right: 12px;
      }   

    
      li {
        display: flex;
        align-items: center;
      }
    }
  }

  .legal-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 28px;

    img {
      margin-right: 38px;
    }

    .legal-line {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;
      .copyright {
        font-size: 16px;
      }
    }

    .legal-words {
      display: flex;
      font-size: 14px;
      ul {
        display: flex;
      }
      li {
        margin-right: 62px;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }

  
}


/* 768~992px pad */
@media (max-width:992px) {
  .header {
    padding: 0 30px;
    li {    
      margin-right: 20px;
    }
  }

 
  .footer {
    padding: 0 20px;

    a {
      padding: 7px 0;
    }

    .footer-bar{  
      a{
        margin-right: 24px;
      }

      .footer-bar-menu > ul{        
        margin-bottom: 20px;
      }
    }

   

    .footer-line-block {
      ul {
        li{
          margin-top: 11px;
          font-size: 24px;
        }
      }
    }

    img {
      width: 24px;
    }

    .legal-block img {
      display: none;
    }

  }
}


//@media (max-width:768px) { 
/* 767px handheld below 320 375 414px */
@media (max-width:767px) { 
  .footer {
    .footer-bar{   
        li {
          margin-right: 20px;
        }
      } 
    }
}

@media (max-width:576px) { 
  .header {
    padding: 0;
    display: flex;
    flex-direction: column;

    ul {
      width: 100vw;
      flex-wrap: wrap;
      justify-content: space-between;
      
      //align-items: stretch;
    }

    li {
      //width: 50vw;
      width: 50%;
      margin-right: 0;
      text-align: center;
      border: 1px solid white;
      padding: 8px;      
    }
  }

  .wrap-content {
    padding: 0 15px;
  }

 

  .footer {
    .footer-bar {
      padding-top: 23px;
      .footer-bar-menu > ul{   
        display: none;
      } 
    }
   

    .footer-line-block {    
      ul li {
        font-size: 20px;
        margin-top: 0px;
        line-height: 30px;       
      }
    }
    
    .legal-block {
      flex-direction: row-reverse;

      a {
        align-self: flex-end;
      }

      .legal-line {
        flex-direction: column;
        align-items: start;
      }

      img {
        display: block;
        margin-right: 0;
        width: 40px;
      }

      .legal-words {       
        ul {
          flex-direction: column;
          li {
            margin-left: 0;
            margin-top: 7px;
          }
        }
      }
    }
    
  }
}
